/ChavePrimariaComposta/chave-composta-idClass/build/
/ChavePrimariaComposta/chave-composta-idClass/dist/
/ChavePrimariaComposta/muitos-para-Muitos/nbproject/private/
/ChavePrimariaComposta/muitos-para-Muitos/build/
/jpa/chave-composta-idClass/nbproject/private/
/jpa/muitos-para-Muitos/build/
/jpa/muitos-para-Muitos/nbproject/private/
/jpa/heranca/heranca/nbproject/private/
/jpa/heranca/nbproject/private/
/jpa/heranca/build/
/jpa/heranca-joined/nbproject/private/
/jpa/heranca-joined/build/
/jpa/heranca-table-per-class/nbproject/private/
/jpa/heranca-table-per-class/build/
/jpa/heranca-joined/dist/
/jpa/util/nbproject/private/
/jpa/util/dist/
/jpa/util/build/
